/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
/* Colors */
* {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(300, 43%, 22%);
}

body {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  min-height: 100%;
  padding: 100px;
  background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

#top-section {
  width: 100%;
}
#top-section .main-container-top .top-row {
  margin-bottom: 40px;
}
#top-section .main-container-top .top-row .col-left h1 {
  font-weight: 900;
}
#top-section .main-container-top .top-row .col-left .description-text {
  color: hsl(303, 10%, 53%);
}
#top-section .main-container-top .top-row .col-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
#top-section .main-container-top .top-row .col-right .info-ratings {
  border-radius: 12px;
  padding: 10px;
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 15px;
  width: 90%;
}
#top-section .main-container-top .top-row .col-right .info-ratings p {
  margin: 0;
  font-weight: 900;
}
#top-section .main-container-top .top-row .col-right .info-ratings .col-stars,
#top-section .main-container-top .top-row .col-right .info-ratings .col-text {
  width: fit-content;
}

#bottom-section {
  width: 100%;
}
#bottom-section .main-container-bottom {
  width: 100%;
}
#bottom-section .main-container-bottom .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#bottom-section .main-container-bottom .bottom-row .info-col .info-container {
  background-color: hsl(300, 43%, 22%);
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100%;
}
#bottom-section .main-container-bottom .bottom-row .info-col .info-container .info-container-header {
  display: flex;
  align-items: center;
}
#bottom-section .main-container-bottom .bottom-row .info-col .info-container .info-container-header .info-buyer-img {
  border-radius: 100px;
  margin-right: 20px;
  width: 60px;
}
#bottom-section .main-container-bottom .bottom-row .info-col .info-container .info-container-header .info-name {
  color: hsl(300, 24%, 96%);
  margin: 0;
}
#bottom-section .main-container-bottom .bottom-row .info-col .info-container .info-container-header .info-buyer {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
  margin: 0;
}
#bottom-section .main-container-bottom .bottom-row .info-col .info-container .info-container-body .info-text {
  margin-top: 30px;
  color: hsl(300, 24%, 96%);
}
#bottom-section .main-container-bottom .bottom-row .info-col .info-center {
  margin-top: 10%;
}
#bottom-section .main-container-bottom .bottom-row .info-col .info-bottom {
  margin-top: 20%;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  #top-section .main-container-top {
    padding: 30px;
  }
  #top-section .main-container-top .top-row {
    margin-bottom: 30px;
  }
  #top-section .main-container-top .top-row .col-right .info-ratings {
    align-items: center;
    text-align: center;
  }
  #bottom-section .main-container-bottom .bottom-row {
    padding: 0;
  }
  #bottom-section .main-container-bottom .bottom-row .info-col {
    margin: 0;
    padding: 0;
  }
  #bottom-section .main-container-bottom .bottom-row .info-col .info-container {
    padding: 20px;
  }
}
@media only screen and (max-width: 425px) {
  body {
    padding: 20px;
    text-align: center;
  }
  main {
    margin: 0;
    padding: 0;
  }
  main #top-section .main-container-top {
    padding: 10px 0 10px 0;
    text-align: center;
    margin: 50px 10px 0 10px;
  }
  main #top-section .main-container-top .top-row {
    margin-bottom: 30px;
  }
  main #top-section .main-container-top .top-row .col-right .info-ratings {
    width: 100% !important;
    text-align: center;
    align-self: start !important;
  }
  main #bottom-section .main-container-bottom .bottom-row {
    padding: 0;
  }
  main #bottom-section .main-container-bottom .bottom-row .info-col {
    margin: 0;
    padding: 0;
  }
  main #bottom-section .main-container-bottom .bottom-row .info-col .info-container {
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
