/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
$font-stack: 'League Spartan', sans-serif;

/* Colors */
//Primary
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);
//Neutral
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

* {
    font-family: $font-stack;
    font-size: 15px;
    font-weight: 400;
    color: $veryDarkMagenta;
}

main {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 100px;


    section {
        .main-container {
            .top-row {
                .col-left {
                    h1 {
                        font-weight: 900;
                    }

                    .description-text {
                        color: $darkGrayishMagenta;
                    }
                }

                .col-right {
                    .info-ratings {
                        border-radius: 12px;
                        padding: 10px;
                        background-color: $lightGrayishMagenta;
                        margin-bottom: 15px;

                        p {
                            margin: 0;
                            font-weight: 900;
                        }
                    }
                }
            }

            .bottom-row {
                padding: 20px;

                .info-col {

                    .info-container {
                        background-color: $veryDarkMagenta;
                        padding: 30px;
                        border-radius: 12px;
                        display: flex;
                        flex-direction: column;
                        font-weight: 500;

                        .info-container-header {
                            display:flex;
                            align-items: center;

                            .info-buyer-img {
                                border-radius: 100px;
                                margin-right: 20px;
                                width: 60px;
                            }

                            .info-name {
                                color: $lightGrayishMagenta;
                                margin:0;
                            }

                            .info-buyer {
                                color: $softPink;
                                margin:0;
                            }
                        }

                        .info-container-body {

                            .info-text {
                                margin-top: 30px;
                                color: $lightGrayishMagenta;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    .attribution {
        font-size: 11px;
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}

/* Media Queries */
@media only screen and (max-width: 768px) {

    main {

        section {
            text-align: center;

            .main-container {
                .top-row {
                    .col-left {}

                    .col-right {
                        .info-ratings {
                            align-items: center;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    main {

        section {
            text-align: center;

            .main-container {
                .top-row {
                    .col-left {}

                    .col-right {
                        .info-ratings {
                            align-items: center;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}